.page {
  max-width: 1440px;
  min-width: 950px;
  background-color: #fff;
  font-family: 'Abel', sans-serif;
}

* {
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 89px;
  background: #fff;
}

.logo {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.logo_place_header {
  left: 50px;
  top: 17px;
  bottom: 17px;
  background: #D8D8D8;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  margin-right: 50px;
  margin-top: 29px;
  margin-bottom: 29px;
}

.rectangle-link {
  width: 154px;
  height: 31px;
  margin-right: 40px;
}

.rectangle-link:last-of-type {
  margin-right: 0;
}

.header__link {
  background: #D8D8D8;
}

.link:last-of-type {
  margin-right: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 450px;
  background-color: #d8d8d8;
}

.banner__title {
  width: 330px;
  height: 76px;
  margin-top: 120px;
  margin-left: 130px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 76px;
}

.banner__subtitle {
  width: 375px;
  height: 46px;
  margin-left: 130px;
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
}

.banner__buttons {
  display: flex;
  justify-content: space-between;
  width: 591px;
  margin-top: 29px;
  margin-left: 130px;
}

.button {
  width: 283px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 33px;
}

.button_color_white {
  background-color: #fff;
}

.button_color_black {
  background-color: #000;
  color: #fff;
}

.article-row {
  display: flex;
  justify-content: center;
}

.article-row__container{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 110px;
  margin-bottom: 82px;
  margin-right: 110px;
}

.article-row__item {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.article-row__item:last-of-type {
  margin-right: 0;
}

.article-row__rectangle {
  background-color: #d8d8d8;
  width: 380px;
  height: 244px;
}

.article-title {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}

.article-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.text-link {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #787878;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 395px;
  background-color: #d8d8d8;
}

.form__container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.form__title {
  width: 345px;
  height: 47px;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 4.375px;
}

.form__item {
  width: 412px;
  height: 58px;
  padding-left: 40px;
  border: none;
}

.form__item::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 33px;
  color: #787878;
}

.form__item::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 21px;
  color: #787878;
}

.form__item::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 55px;
  color: #787878;
}

.form__item::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 33px;
  color: #787878;
}

.article-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.article-column__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 134px;
  margin-left: 125px;
  margin-bottom: 80px;
}

.article-column__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.article-column__item:last-of-type {
  margin-bottom: 0;
}

.article-column__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  width: 541px;
  height: 386px;
  margin-right: 60px;
}

.article-column__article:nth-of-type(2) {
  margin-right: 0;
  margin-left: 60px;
  text-align: start;
}

.article-column_rectangle {
  width: 586px;
  height: 386px;
  background-color: #d8d8d8;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 415px;
  align-items: center;
  background-color: #d8d8d8;
}

.logo_place_footer {
  position: absolute;
  top: 97px;
  bottom: 263px;
  background-color: #fff;
}

.footer__navigation {
  margin-top: 182px;
}

.footer__link {
  background-color: #fff;
}

.line {
  width: 996px;
  height: 2px;
  margin-top: 29px;
  background-color: #fff;
}

.footer__social-links {
  width: 230px;
  height: 20px;
  margin-top: 51px;
  margin-bottom: 101px;
}

.footer__social-link {
  width: 20px;
  height: 20px;

}

.facebook-icon {
  width: 20px;
  height: 20px;
}

.instagram-icon {
  width: 20px;
  height: 20px;
}

.linkedin-icon {
  width: 20px;
  height: 19px;
}

.twitter-icon {
  width: 20px;
  height: 17px;
}


